@font-face {
    font-family: 'Monument';
    src: url(./MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument';
    src: url(./MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf);
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100vw;
}

#main {
    height: 100vw;
    /* background-color: #f60000; */
    padding-top: 1rem

}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 100vw;
    }
}

nav{
    width: 91%;
    height: 4rem;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
}

#nav-container{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

nav div{
    border-right: 2px solid black;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:first-child{
    border-right: none;
    position: relative;
}

nav div:first-child::after{
    content: 'model management';
    position: absolute;
    font-size: 0.5rem;
    text-align: justify ;
    bottom: 8px;
    right: 37px;
}

@media (max-width:1428px) {
    nav div:first-child::after{
        display: none;
    }

    nav div:first-child sup{
        display: none;
    }
}

nav div:nth-child(4n){
    width: 35%;
}

nav div:nth-child(5n){
    width: 15%;
    border-right: 0;
}

nav a{
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: black;
    font-weight: 300;
}

#logo{
    font-family: 'Monument';
    font-weight: 900;
    font-size: 2.2rem;
    padding-left: 0.8rem;

}

#logo sup{
    font-weight: 100;
    font-family: sans-serif;
    font-size: 1.3rem;
}

#hamburger{
    display: none;
}


@media (max-width:1024px) {

    nav{
        width: 100%;
    }


    nav div{
        display: none;
    }

    nav div:first-child{
        display: flex;
        /* border: 2px solid black; */
        width: 50%;
        justify-content: start;
        padding: 0;
        
        
    }

    #hamburger{
        display: flex;
        /* border: 2px solid black; */
        border-right:0;
        font-size: 2rem;
        /* background-color: lime; */
    }

    nav{
        justify-content: space-between;
    }
}

@media (max-width:768px) {
    #main{
        padding-top: 0;
    }

    #hamburger{
        justify-content: end;
        padding-right: 0.8rem;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    nav div:first-child{
        padding-left: 2.5rem;
    }
}


#hero-section{
    padding: 2rem;
    /* background-color: yellow; */
    height: calc(100vh - 3rem);
    margin-bottom: 0.01rem;
}

#content{
    /* background-color: blue; */
    width: 95%;
    height: 98%;
    margin: auto;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media (max-width:640px) {
    #content{
        width: 100%;
        margin: 0;
        height: 100%;
    }
    
    #hero-section{
        padding: 0;
    }
}

#overlay{
    position: absolute;
    /* background-color: greenyellow; */
    /* opacity: 0.5; */
    height: 42%;
    width: 100%;
    bottom: 0;
    left: 0;
}

#overlay{
    display: flex;
    flex-direction: column;
    /* mix-blend-mode:difference; */
    overflow-x: hidden;
    overflow-y: hidden;
}

#overlay-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    width:97%;
    margin-left: auto;
    margin-right: auto;
    /* background: #fd6060a1; */
    padding-bottom: 2.3rem;

}

#overlay-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ff6aebc8; */
}

#overlay-top-left h4{
    width: 50%;
    font-size: 4.7rem;
    text-align: left;
    color: white;
    font-family: 'Monument';
    font-weight: 900;
}

#overlay-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.7rem;
    border: 1px solid white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: white;
    margin-top: 2rem;
    
}

#overlay-bottom-right img{
    height: 5rem;
}

#overlay-bottom-left{
    font-size: 1.3rem;
}

@media (max-width:1280px) {

}   

@media (max-width:1174px){
    #overlay{
        height: 50%;
    }
    
}
@media (max-width:768px){
    #hero-section{
        padding:0;
    }

    #content{
        width: 100%;
        height: 100%;
    }

    #overlay-top-right{
        font-size: 1.7rem;
        padding: 3rem;
        height: 4rem;
        width: 4rem;
        align-self: flex-end;
    }

}





@media (max-width:640px){

    #overlay{
        height: 35%;
    }

    #overlay-top-left h4{
        font-size:3rem;
    }
    
    #overlay-top-right{
        font-size: 1.7rem;
        padding: 3rem;
        height: 4rem;
        width: 4rem;
        align-self: flex-end;
    }

    
}
@media (max-width:430px){

    #overlay{
        height:30%;
    }

    #overlay-top-left h4{
    font-size:1.93rem;
    }

    #overlay-top-right{
    padding: 2rem;
    height: 4rem;
    width: 4rem;
    align-self: flex-end;
    }

    #overlay-bottom-right img{
        height: 3rem;
    }
}








/* ********************************************after-hero-section***************************************************** */











#scroll{
    width: 100vw;
    height: fit-content;
    /* background-color: red; */
    /* padding: 20px; */
    display: flex;
    overflow-x: hidden;
}

.scroll-container{
    /* width: 100vw;*/
    width: fit-content;
     height: 100%;
    /* background-color: blue; */
    /* border: 3px solid black; */
    display: flex;
    padding: 20px 0px;
    /* overflow-x: hidden; */
    animation: marquee 60s linear 0s infinite backwards ;
    
}

/* .scroll-container:nth-child(2n){
    background-color: blueviolet;
} */

.scroll-container img{
    width: 10rem;
    object-fit: cover;
    object-position: center center;
    
}

.headshot-container{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

}

.profile-container{
    /* background-color: yellow; */
    height: 14rem;
    width: 12rem;
    /* border: 2px solid black; */
    padding: 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    flex-shrink: 0;

}

@keyframes marquee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}   



/* ***********************************page-2 starts from here *********************************** */



#page-2{
    height: 100vh;
    width: 100vw;
    /* background-color: blueviolet; */
}

#alphabet-search{
    width: 100vw;
    height: 9vh;
    /* background-color: yellow; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#search-container{
    width: 94%;
    height: 100%;
    /* background-color: green; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-letter-wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 0.6%;
    overflow-x: auto;
    margin-left: 2rem;
    
}

.search-letters{
    border: 1px transparent solid;
    /* background-color: orangered; */
    height: 1rem;
    width: 1rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-style: italic;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

#search-head{
    font-size: 1.8rem;
    font-style: italic;
    text-decoration: 2px solid underline;
    letter-spacing: 3px;
    cursor: pointer;
}

.search-letters:hover{
    border: 1px solid black;
}


.search-letter-wrapper::-webkit-scrollbar {
    height: 6px; /* Horizontal scrollbar height */
}

.search-letter-wrapper::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 4px;
}

.search-letter-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}


#page-2-main-container{
    height: calc(100% - 9vh);
    width: 100%;
    padding: 1rem;
    /* background-color: #00ffcc; */
}

#page-2-main-content{
    height: 100%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    display: flex;
}

#page-2-left{
    width: 55%;
    height: 100%;
    /* background-color: rgb(19, 2, 248); */
    padding: 1rem;
    overflow: hidden;
}

#page-2-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#page-2-right{
    width: 45%;
    height: 100%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem ;
}

#page-2-right img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center center ;
}

#page-2-right-bottom{
    height: 40%;
    width: 100%;
    /* background-color: lime; */
    padding: 1rem 0rem;
    display: flex;
}

#page-2-right-bottom p:first-child{
    font-size: 2.3rem;
    text-align: left;
    width: 50%;
}
#page-2-right-bottom p:last-child{
    font-size: 1.1rem;
    text-align: right;
    width: 50%;
    font-weight: 300;
}

@media (max-width:1280px) {
    #page-2-right-bottom p:first-child{
        font-size: 2.1rem;
    }
    #page-2-right-bottom p:last-child{
        font-size: 1rem;
    }
    
}


@media (max-width:1024px) {
    #page-2-right-bottom p:first-child{
        font-size: 1.8rem;
    }
    #page-2-right-bottom p:last-child{
        font-size: 0.9rem;
    }
    
}


@media (max-width:768px) {

    #page-2-main-content{
        display: flex;
        flex-direction: column;
    }

    #page-2-right{
        height: 30%;
        width: 100%;
        flex-direction: row;
        padding: 0;
    }

    #page-2-right-bottom{
        height: 100%;
        width: 60%;
        padding: 0 1rem;
        padding-right: 0;
    }

    #page-2-left{
        height: 70%;
        width: 100%;
        padding: 1rem 0;
    }

    #page-2-right img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center center ;
    }

    #page-2-right-bottom p:first-child{
        font-size: 1.7rem;
    }
    #page-2-right-bottom p:last-child{
        font-size: 0.9rem;
    }
    
}

@media (max-width:758px) {
    #page-2-right-bottom p:first-child{
        font-size: 1.6rem;
    }
}

@media (max-width:640px) {
    
    #page-2-left{
        height: 80%;
    }
    #page-2-right{
        height: 20%;

    }

    #page-2-right-bottom{
        height: 100%;
        width: 70%;
    }

    #page-2-right-bottom p:first-child{
        font-size: 1.2rem;
        font-weight: 900;
    }
    #page-2-right-bottom p:last-child{
        font-size: 0.8rem;
    }
    
}

@media (max-width:468px) {
    #page-2-right-bottom p:first-child{
        font-size: 1rem;
        font-weight: 900;
    }
    #page-2-right-bottom p:last-child{
        font-size: 0.6rem;
    }
    
}

@media (max-width:412px) {
    #page-2-right-bottom p:first-child{
        font-size: 0.8rem;
        font-weight: 900;
    }

    #page-2-right-bottom{
        padding-left: 0.5rem;
    }
    
}


/* ***************************page-3 starts here********************************** */


#page-3{
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 1rem;
}

#page-3-main-container{
    width: 94%;
    height: 100%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1rem;
}

#page-3-left{
    width: 45%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-3-right{
    width: 55%;
    height: 100%;
    /* background-color: blue; */
}

#page-3-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

}

#page-3-left-middle{
    /* background-color: yellow; */
    position: relative;
    height: fit fit-content;
    

}

#page-3-left-middle img{
    display: block;
}

#page-3-left-middle #middle-arrow{
    /* background-color: yellow; */
    position: absolute;
    top: 50%;
    left: 41%;
    translate: -50% -50%;
    transition: transform 0.2s ease-out;
}

#page-3-left-middle #middle-arrow:hover{
    transform: scale(1.3);
}

#page-3-left-middle #circular-text{
    width: 80%;
    object-fit: cover;
    /* background-color: pink; */
    /* margin-left: auto; */
    margin-right: auto;
    animation: rotation 30s linear 0s infinite;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#page-3-left p{
    text-align: left;
    width: 80%;
    /* background-color: green; */
    font-size: 1.5rem;
}


#page-3-left h3{
    /* background-color: royalblue; */
    text-align: left;
    font-size: 3rem;
    font-family: 'Monument';
}

@media (max-width:1280px) {
    
    #page-3-left-middle #middle-arrow{
        width: 80px;
    }

}

@media (max-width:1024px) {
    
    #page-3-left-middle #middle-arrow{
        width: 60px;
    }

    /* #page-3-left-middle #circular-text{
        width: ;
    } */

}

@media (max-width:768px) {

    #page-3-main-container{
        display: block;
        position: relative;
    }

    #page-3-left{
        z-index: 2;
        position: absolute;
        /* background-color: yellow; */
        justify-content: space-between;
        height: 100%;
        mix-blend-mode: exclusion;
    }

    #page-3-right{
        z-index: 1;
        width: 100%;
    }

    #page-3-left h3{
        /* mix-blend-mode: exclusion; */
        color: white;
        width: 222%;
        /* background-color: yellow; */
        font-size: 4rem;

    }

    #page-3-left p{
        /* mix-blend-mode: difference; */
        font-size: 1.2rem;
        color: white;
        width: 60%;
    }

    #page-3-main-container{
        padding: 0;
    }

    #page-3-left-middle #middle-arrow{
        display: none;
    }

    #page-3-left-middle #circular-text{
        display: none;
    }

}

@media (max-width:640px) {


    #page-3-left p{
        width: 110%;
    }

    #page-3-left h3{
        /* mix-blend-mode: exclusion; */
        color: white;
        width: 222%;
        /* background-color: yellow; */
        font-size: 3rem;

    }
}




/* ************************************ page 4 & page 7 starts from here ****************************** */

#page-4, #page-7{
    width: 100vw;
    height: 100vh;
    /* background-color: indigo; */
    padding: 1rem;
}

#page-4-main-container, #page-7-main-container{
    width: 94%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#page-4-main-container img, #page-7-main-container img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 100%;
}



/* ***************************************page-5 starts here*********************************** */


#page-5{
    width: 100vw;
    height: 140vh;
    /* background: linear-gradient(to bottom, white, aquamarine); */
    padding: 1rem;
    overflow: auto;
}

#page-5-main-container{
    width: 94%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

#page-5-main-container h3{
    /* background-color: yellow; */
    text-align: center;
    height: 15%;
    font-size: 3.7rem;
    font-weight: 900;
    font-family: 'Monument';
}

.accordian{
    height: 15%;
    /* background-color: orchid; */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: relative;
    transition: all 0.7s ease-in-out;
}

#page-5-main-container .accordian:last-child {
  border-bottom: 2px solid black
}

.accordian-categorty {
    /* background-color: lime; */
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 10%;
    text-align: left;
}

.accordian-content{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.accordian-content-tagline{
    font-size: 3rem;
    font-weight:300;
    text-align: left;
}

.accordian-date{
    text-align: left;
}

.accordian-image img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    display: none;
    position: absolute;
    bottom: 2rem;
    left: 0;
}


.accordian:hover .accordian-image img{
    display: inline-block;
    z-index: 2;
}

.accordian:hover {
    height: 50%;
}

.accordian:hover .accordian-content{
    justify-content: start;
    margin-top: 2rem;
}

@media (max-width:960px) {
    .accordian-content-tagline{
        font-size: 2rem;
    }
}

@media (max-width:768px) {
    .accordian-content-tagline{
        font-size: 1.7rem;
    }
}

@media (max-width:640px) {
    .accordian-content-tagline{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .accordian-content {
        width: 70%;
        margin-left: 7rem;
    }

    #page-5-main-container h3{
        font-size: 3rem;
    }

    .accordian-date{
        font-size: 0.9rem;
    }

    .accordian-image img{
        height: 65%;
    }
}



/* ****************************** page-6 starts from here*************************************** */

#page-6{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
    padding: 1rem
}

#page-6-main-container{
    height:100%;
    width: 94%;
    /* background-color: palevioletred; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 1rem; */
    display: flex;
}

#page-6-left{
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    padding: 1rem;
    position: relative;
}

#page-6-right{
    /* background-color: yellow; */
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: end;
}

#page-6-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#pseudo-right-top{
    position: absolute;
    width: 100%;
    height: 50%;
    right:-100%;
    top: 0;
    /* background-color: limegreen; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#pseudo-right-top h5{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Monument';
}

#details-1{
    text-align: left;
    font-size: 2rem;
    width: 60%;
}

#details-2{
    text-align-last: left;
    width: 90%;
    font-weight: 100;
}

#page-6-right-bottom{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
}

#page-6-right-bottom-left{
    width: 55%;
    height: 100%;
    padding-right: 1rem;
}
#page-6-right-bottom-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#page-6-right-bottom-right{
    height: 100%;
    width: 45%;
    /* background-color: violet; */
}

#page-6-right-bottom-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    
}

@media (max-width:1280px) {
    #pseudo-right-top h5{
        font-size: 2.7rem;
    }

    #details-1{
        font-size: 1.5rem;
    }

    #details-2{
        font-size: 0.9rem;
    }
}

@media (max-width:1024px) {
    

    #details-1{
        text-align: left;
        font-size: 1.5rem;
        width: 60%;
    }
}

@media (max-width:922px) {
    #pseudo-right-top h5{
        font-size: 2.7rem;
    }

    #details-1{
        font-size: 1.3rem;
    }

    #details-2{
        font-size: 0.9rem;
    }
}

@media (max-width:842px) {
    #pseudo-right-top h5{
        font-size: 2.3rem;
    }

    #details-1{
        font-size: 1.1rem;
    }

    #details-2{
        font-size: 0.8rem;
    }
}

@media (max-width:768px) {
    #pseudo-right-top h5{
        font-size: 2rem;
    }

    #details-1{
        font-size: 1.1rem;
    }

    #details-2{
        font-size: 0.8rem;
    }
}

@media (max-width:649px) {
    #pseudo-right-top h5{
        font-size: 1.3rem;
    }

    #details-1{
        font-size: 1rem;
    }

    #details-2{
        font-size: 0.8rem;
    }
}

@media (max-width:480px) {
    #pseudo-right-top{
        padding: 0;
    }
    
    #page-6-right-bottom{
        flex-direction: column;
        height: 68.9%;
    }

    #page-6-right{
        align-items: start;
        padding-left: 0.5rem;
        padding-right: 0;
    }
    
    #page-6-left{
        padding-left: 0;
        padding-right: 0.5rem;
        height: 70%;
    }

    #pseudo-right-top{
        top:auto;
        bottom: -43%;
        width: 200%;
        height: 43%;
    }

    #page-6-right-bottom-left{
        width: 100%;
        padding-right: 0;
        padding-bottom: 0.5rem;
    }

    #page-6-right-bottom-right{
        padding-top: 0.5rem;
        width: 100%;
    }

    #details-2{
        font-weight: 300;
    }
}


/* ********************************** page 8 ************************************* */




#page-8{
    height: 100vh;
    width: 100vw;
    /* background-color: blueviolet; */
}

#page-8-main-container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* background-color: #00ffcc; */
}

#page-8-main-content{
    height: 100%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    display: flex;
}

#page-8-left{
    width: 55%;
    height: 100%;
    /* background-color: rgb(19, 2, 248); */
    padding: 1rem;
    overflow: hidden;
}

#page-8-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#page-8-right{
    width: 45%;
    height: 100%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem ;
}

#page-8-right img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center top ;
}

#page-8-right-bottom{
    height: 40%;
    width: 100%;
    /* background-color: lime; */
    padding: 1rem 0rem;
    display: flex;
}

#page-8-right-bottom p:first-child{
    font-size: 2rem;
    text-align: left;
    width: 50%;
}
#page-8-right-bottom p:last-child{
    font-size: 1.1rem;
    text-align: right;
    width: 50%;
    font-weight: 300;
}

@media (max-width:1480px) {
    #page-8-right-bottom p:first-child{
        font-size: 2rem;
    }
    #page-8-right-bottom p:last-child{
        font-size: 1rem;
    }
    
}


@media (max-width:1227px) {
    #page-8-right-bottom p:first-child{
        font-size: 1.8rem;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.9rem;
    }
    
}


@media (max-width:1103px) {
    #page-8-right-bottom p:first-child{
        font-size: 1.45rem;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.9rem;
    }
    
}


@media (max-width:768px) {

    #page-8-main-content{
        display: flex;
        flex-direction: column;
    }

    #page-8-right{
        height: 30%;
        width: 100%;
        flex-direction: row;
        padding: 0;
    }

    #page-8-right-bottom{
        height: 100%;
        width: 60%;
        padding: 0 1rem;
        padding-right: 0;
    }

    #page-8-left{
        height: 70%;
        width: 100%;
        padding: 1rem 0;
    }

    #page-8-right img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center top ;
    }

    #page-8-right-bottom p:first-child{
        font-size: 1.4rem;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.9rem;
    }
    
}

@media (max-width:758px) {
    #page-8-right-bottom p:first-child{
        font-size: 1.2rem;
    }
}

@media (max-width:640px) {
    
    #page-8-left{
        height: 80%;
    }
    #page-8-right{
        height: 20%;

    }

    #page-8-right-bottom{
        height: 100%;
        width: 70%;
    }

    #page-8-right-bottom p:first-child{
        font-size: 0.95rem;
        font-weight: 900;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.7rem;
    }
    
}

@media (max-width:468px) {
    #page-8-right-bottom p:first-child{
        font-size: 0.95rem;
        font-weight: 900;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.6rem;
    }
    
}


@media (max-width:412px) {
    #page-8-right-bottom p:first-child{
        font-size: 0.8rem;
        font-weight: 900;
    }
    #page-8-right-bottom p:last-child{
        font-size: 0.58rem;
    }

    #page-8-right-bottom{
        padding-left: 0.5rem;
    }
    
}

/* ******************************** page-9 ************************************** */

#page-9{
    height: 100vh;
    width: 100vw;
}

#bottom-marquee{
    width: 100%;
    height: 12vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid black;
    overflow-x: hidden;
}

#bottom-marquee p{
    margin-right: 4rem;
    font-size: 4rem;
    flex-shrink: 0;
    font-weight: 900;
    font-family: 'Monument';
    -webkit-text-stroke: 3px black;
    color: transparent;
    letter-spacing: 2px;
    /* background-color: yellow; */
    animation: without-jump-marquee 45s linear 0s infinite backwards;
}

@keyframes without-jump-marquee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4rem));
    }
}   

@media (max-width:768px) {
    #bottom-marquee p{
        font-size: 3rem;
    }
    #bottom-marquee{
        height: 10vh;
    }
}

/* ************************** page 10****************************** */

#blogs-section{
    width: 94vw;
    height: 84vh;
    margin-top: 4vh;
    /* background-color: purple; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#blogs-section h2{
    font-size: 3rem;
    font-family: 'Monument';
    font-weight: 900;
    /* background-color: yellow; */
}

.blog-card{
    width: 40%;
    height: 90%;
    /* background-color: aqua; */
    position: relative;
    /* padding: 2rem; */

}

.blog-image-container{
    width: 100%;
    height: 20rem;
    /* background-color: green; */
    position: absolute;
    bottom: 6rem;
    
}

.blog-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;


}

.blog-card p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    position: relative;
    /* background-color: red; */
    top: 8rem;
}

#blog-card-1 p::before{
    content: 'A';
    position: absolute;
    font-size: 1.5rem;
    font-style: italic;
    left: -3rem;
    top: -0.8rem;
    /* background-color: red; */
    border: 1px solid black;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog-card-2 p::before{
    content: 'B';
    position: absolute;
    font-size: 1.5rem;
    font-style: italic;
    left: -3rem;
    top: -0.8rem;
    /* background-color: red; */
    border: 1px solid black;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog-card-2 p{
    margin-bottom: 0.7rem;
}


@media (max-width:1024px) {
    .blog-card p{
        font-size: 1rem;
    }
}

@media (max-width:1330px) {
    .blog-image-container{
        width: 90%;
        left: 1rem;
    }

    #blog-card-1 p::before{
        left: -2rem;
        top: -0.8rem;
    }

    #blog-card-2 p::before{
        left: -2rem;
        top: -0.8rem;
    }
}

@media (max-width:851px){
    .blog-image-container{
        bottom: 5rem;
    }
}


@media (max-width:787px) {
    .blog-image-container{
        bottom: 3rem;
    }
}

@media (max-width:768px) {

    #blogs-section{
        height: 88vh;
        margin-top: 2vh;
        flex-direction: column;
    }

    #blogs-section h2{
    font-size: 3rem;
    text-align: center;
    }

    .blog-card{
        width: 100%;
    }


    .blog-card p{
        width: 90%;
        padding-left: 1.2rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        top: 1rem;
        left: 1rem;
    }

    .blog-image-container{
        width: 90%;
        height: 17rem;
        background-color: green;
        position: absolute;
        bottom: 1rem;
        left: 3rem;
    
    }

    #blog-card-1 p::before{
        left: -2rem;
        top: -0.5rem;
        /* background-color: violet; */
        border: 1px solid black;
        height: 2rem;
        width: 2rem;
        padding: 0.3rem;
    }
    #blog-card-2 p::before{
        left: -2rem;
        top: -0.5rem;
        /* background-color: violet; */
        border: 1px solid black;
        height: 2rem;
        width: 2rem;
        padding: 0.3rem;
    }
}

@media (max-width:640px){
    .blog-image-container{
        width: 88%;
        position: absolute;
        bottom: 1rem;
        left: 3rem;
    
    }
}

@media (max-width:487px) {
    .blog-image-container{
        width: 85%;
        height: 10rem;
        position: absolute;
        bottom: 1rem;
        left: 3rem;
    
    }    
}



/* *****************************************footer starts here******************************** */

footer{
    width: 100vw;
    height: 40vh;
    /* background-color: yellow; */
    padding-bottom: 1rem;
    padding-top: 2rem;
}

#the-actual-footer{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 100%;
    /* background-color: violet; */
    display: flex;
}

#footer-logo{
    height: 100%;
    width: 30%;
    /* background-color: lime; */
    border-right: 3px solid black;
    position: relative;
}


#footer-logo p{
    font-size: 3.3rem;
    font-family: 'Monument';
    font-weight: bolder;
    position: absolute;
    right: 3rem;
    top: 1.3rem;
}

#footer-logo p sup{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    position: absolute;
    right: -2rem;
}

#footer-logo p::after{
    content: 'model management';
    font-size: 1rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 3.2rem;
    right: 0rem;
    text-align: right;
    width: 50%;
    /* background-color: yellow; */
}



#footer-section-2{
    height: 100%;
    width: 20%;
    /* background-color: rgb(0, 255, 255); */
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    padding-top:2rem;
    font-size: 1.4rem; 
    font-weight: 200;
}

#footer-section-3{
    height: 100%;
    width: 20%;
    /* background-color: lightseagreen; */
    /* border-right: 3px solid black; */
    display: flex;
    justify-content: center;
    padding-top:2rem;
    font-size: 1.4rem;
    font-weight: 200;
}

#footer-section-4{
    font-weight: 200;
    height: 100%;
    width: 30%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px solid black;
}
#footer-section-4-top {
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: left; /* Default for large screens (only one item) */
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 3px solid black;
}

#footer-section-4-top > div {
    padding: 0 1rem; /* Added some padding for better spacing */
    /* background-color: yellow; */
    width: 100%;
}


#footer-section-4-bottom{
    height: 68%;
    width: 100%;
    /* background-color: blueviolet; */
}



.social-icons {
  width:100%;
  display: flex;
  gap: 1.2rem;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  /* background-color: palevioletred; */
}

.icon-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #000000;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  flex-shrink: 0;
}

.icon-circle:hover {
  background-color: #ccc;
  transform: scale(1.1);
}

.copyright-text {
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 0rem;
  font-weight: 200;

}


.show-in-mobile{
    display: none;
}

@media (max-width:1173px){
    #footer-logo p{
        font-size: 2.8rem;
    }
    #footer-logo p::after{
        width: 70%;
        top: 2.6rem;
    }
    #footer-logo p sup{
        font-size: 1.4rem;
        right: -1.4rem;
    }

}

@media (max-width:1140px){
    #footer-section-2{
        display: none;
    }
    #footer-section-3{
        display: none;
    }
    #the-actual-footer{
        justify-content: space-between;
    }
    #footer-section-4{
        width: 70%;
    }
    #footer-logo{
        border-right: 0;
    }

    #footer-section-4-top{
        justify-content: space-around;
        font-size: 1.2rem;
    }
    
}

@media (min-width:1140px){
    .alternate{
        display: none;
    }
}

@media (max-width:1024px){
    #footer-logo p{
        font-size: 2.3rem;
    }
    #footer-logo p::after{
        width: 80%;
        top: 2.2rem;
    }
    #footer-logo p sup{
        font-size: 1.2rem;
        right: -1.2rem;
    }
}

@media (max-width:952px) {
    #footer-logo p{
        font-size: 2rem;
        right: 2rem;
    }
    #footer-logo p::after{
        width: 90%;
        top: 2rem;
        font-size: 0.8rem;
    }
    #footer-logo p sup{
        font-size: 1rem;
        right: -1rem;
    }
}

@media (max-width:768px){
    #footer-logo p{
        font-size: 1.6rem;
        right: 2rem;
    }
    #footer-logo p::after{
        width: 90%;
        top: 1.5rem;
        font-size: 0.8rem;
    }
    #footer-logo p sup{
        font-size: 1rem;
        right: -1rem;
    }
}



@media (max-width:650px) {

    #footer-logo{
        width: 0%;
    }
    #footer-section-4{
        width: 100%;
        border-left: 0;
    }
    #hide-in-mobile{
        display: none;
    }

    .show-in-mobile{
        width: 100%;
        display: block;
    }
    
    .show-in-mobile p{
        font-size: 3rem;
        font-weight: 900;
        font-family: 'Monument';
        position: relative;
        /* background-color: blueviolet; */
        width: 100%;
        text-align: center;
    }



    .social-icons {
        gap: 1rem;
        padding: 1rem;
    }

    .icon-circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 1px solid black;
        background-color: #ffffff;
        font-size: 2rem;
        color: #000000;
    }

    .social-icons {
        justify-content: center;
    }
    
    .copyright-text {
        text-align: center;
    }
}